In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from scipy.sparse import csr_matrix, coo_matrix

from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

from tqdm import tqdm

In [4]:
data = pd.read_csv('/Users/mac/Downloads/webinar_2/data/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

В рекомендательных системах корректнее использовать train-test split по времени, а не случайно.

Возмём последние 3 недели в качестве теста.

In [5]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]
data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282320,222,41297772783,635,1120741,1,0.59,304,0.00,1716,91,0.0,0.0
2282321,462,41297773713,635,993339,1,1.99,304,0.00,2040,91,0.0,0.0
2282322,462,41297773713,635,995242,1,1.00,304,-0.89,2040,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0
2282324,462,41297773713,635,12731714,1,4.08,304,0.00,2040,91,0.0,0.0

In [6]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

result['actual'] = result['actual'].apply(lambda x: list(x))

result.head(10)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...
3        7  [840386, 889774, 898068, 909714, 929067, 95347...
4        8  [835098, 872137, 910439, 924610, 992977, 10412...
5        9  [864335, 990865, 1029743, 9297474, 10457112, 8...
6       13  [6534178, 1104146, 829197, 840361, 862070, 884...
7       14  [840601, 867293, 933067, 951590, 952408, 96569...
8       15  [910439, 1082185, 959076, 1023958, 1082310, 13...
9       16                       [1062973, 1082185, 13007710]

In [7]:
test_users = result.shape[0]
new_test_users = len(set(data_test['user_id']) - set(data_train['user_id']))

print('В тестовом дата сете {} юзеров'.format(test_users))
print('В тестовом дата сете {} новых юзеров'.format(new_test_users))

В тестовом дата сете 2042 юзеров
В тестовом дата сете 0 новых юзеров

In [8]:
def random_recommendation(items, n=5):

    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [9]:
%%time

items = data_train.item_id.unique()
print(items)

result['rand rec'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(5)

[ 1004906  1033142  1036325 ... 15722756 17170636 15716393]
CPU times: user 2.6 s, sys: 16.1 ms, total: 2.62 s
Wall time: 2.64 s

,user_id,actual,rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1049661, 6603362, 12330770, 990866, 5570446]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[9526701, 9195130, 855328, 1066608, 9673099]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[7431134, 725789, 922759, 17209779, 998741]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[6039787, 8025867, 9575554, 1304545, 12457046]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[15716609, 12524188, 890040, 13382040, 12352506]"

In [10]:
hit_rate = 0
for i in range(result.shape[0]):
    flags = np.isin(result.loc[i,'actual'], result.loc[i,'rand rec'])
    hit_rate += (flags.sum() > 0).astype(int)
hit_rate

6

In [11]:
def weighted_random_recommendation(items, p, n=5):

    
    recs = np.random.choice(items, size=n, replace=False, p=p)
    
    return recs.tolist()

In [12]:
def data_prep(df, func):
    items = df.item_id.unique()

    items = np.array(items)

    count_df = df.groupby('item_id').item_id.agg(['count'])

    count_df['weight'] = func(count_df['count'] / count_df['count'].sum())

    items_df = pd.DataFrame(items, columns = ['item_id'])

    probability_df = pd.merge(items_df, count_df, on='item_id', how='left')

    probability_df.fillna(value=0, inplace=True)

    p = np.array(probability_df.to_numpy()[:, 2])

    p /= p.sum()  # normalize
    
    return items, p

In [13]:
%%time

items, p = data_prep(data_train, np.log)

result['weighted log rand rec'] = \
        result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(3)

CPU times: user 1.79 s, sys: 68.7 ms, total: 1.86 s
Wall time: 1.89 s

,user_id,actual,rand rec,weighted log rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1049661, 6603362, 12330770, 990866, 5570446]","[1894237, 12188393, 1041381, 57314, 1009625]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[9526701, 9195130, 855328, 1066608, 9673099]","[1009851, 1116425, 1052087, 833890, 13910210]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[7431134, 725789, 922759, 17209779, 998741]","[6551741, 1322954, 9396885, 1957362, 922466]"

In [14]:
%%time

items, p = data_prep(data_train, np.sqrt)

result['weighted sqrt rand rec'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

CPU times: user 1.71 s, sys: 35.4 ms, total: 1.74 s
Wall time: 1.75 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1049661, 6603362, 12330770, 990866, 5570446]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[9526701, 9195130, 855328, 1066608, 9673099]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]"

In [15]:
%%time

items, p = data_prep(data_train, np.square)

result['weighted square rand rec'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

CPU times: user 2 s, sys: 37.9 ms, total: 2.03 s
Wall time: 2.04 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1049661, 6603362, 12330770, 990866, 5570446]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[9526701, 9195130, 855328, 1066608, 9673099]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]"

In [16]:
def random_recommendation(items, n=5):

    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [17]:
%%time

items = data_train.item_id.unique()

result['rand rec'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(3)

CPU times: user 2.5 s, sys: 14.4 ms, total: 2.52 s
Wall time: 2.53 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1117944, 8159536, 1052481, 864586, 14043825]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1010718, 861459, 13133985, 1132248, 869755]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2794351, 1100951, 909955, 6424142, 9655004]","[6551741, 1322954, 9396885, 1957362, 922466]","[1103826, 13008328, 5584027, 15926844, 896666]","[923746, 1082185, 1029743, 1081177, 910032]"

In [18]:
def popularity_recommendation(data, n=5):
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [19]:
%%time

popular_recs = popularity_recommendation(data_train, n=5)

result['popular rec'] = result['user_id'].apply(lambda x: popular_recs)
result.head(3)

CPU times: user 96.2 ms, sys: 21.3 ms, total: 117 ms
Wall time: 122 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1117944, 8159536, 1052481, 864586, 14043825]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1010718, 861459, 13133985, 1132248, 869755]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]","[6534178, 6533889, 1029743, 6534166, 1082185]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2794351, 1100951, 909955, 6424142, 9655004]","[6551741, 1322954, 9396885, 1957362, 922466]","[1103826, 13008328, 5584027, 15926844, 896666]","[923746, 1082185, 1029743, 1081177, 910032]","[6534178, 6533889, 1029743, 6534166, 1082185]"

In [20]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [21]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [22]:
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2498,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
user_item_matrix[user_item_matrix > 0] = 1 
user_item_matrix = user_item_matrix.astype(float) 

sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
users, items, interactions = data.user_id.nunique(), data.item_id.nunique(), data.shape[0]

print('# users: ', users)
print('# items: ', items)
print('# interactions: ', interactions)

# users:  2499
# items:  89051
# interactions:  2396804

In [25]:
interactions / (users*items)

0.010770291654185115

In [26]:
user_item_matrix.sum().sum() / (user_item_matrix.shape[0] * user_item_matrix.shape[1]) * 100

5.33770796861036

In [27]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556])

In [28]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [29]:
itemid_to_id

{202291: 0,
 397896: 1,
 420647: 2,
 480014: 3,
 545926: 4,
 707683: 5,
 731106: 6,
 818980: 7,
 819063: 8,
 819227: 9,
 819255: 10,
 819304: 11,
 819308: 12,
 819330: 13,
 819518: 14,
 819594: 15,
 819643: 16,
 819765: 17,
 819840: 18,
 819845: 19,
 819927: 20,
 819978: 21,
 820082: 22,
 820122: 23,
 820165: 24,
 820291: 25,
 820301: 26,
 820321: 27,
 820361: 28,
 820486: 29,
 820518: 30,
 820560: 31,
 820701: 32,
 820895: 33,
 821025: 34,
 821083: 35,
 821200: 36,
 821209: 37,
 821219: 38,
 821344: 39,
 821464: 40,
 821556: 41,
 821562: 42,
 821695: 43,
 821730: 44,
 821735: 45,
 821787: 46,
 821867: 47,
 821976: 48,
 822049: 49,
 822073: 50,
 822101: 51,
 822140: 52,
 822178: 53,
 822225: 54,
 822241: 55,
 822339: 56,
 822346: 57,
 822407: 58,
 822517: 59,
 822524: 60,
 822646: 61,
 822677: 62,
 822739: 63,
 822785: 64,
 822936: 65,
 822965: 66,
 823099: 67,
 823176: 68,
 823356: 69,
 823704: 70,
 823721: 71,
 823758: 72,
 823775: 73,
 823862: 74,
 823915: 75,
 823990: 76,
 824005: 77,
 824037: 78,
 824073: 79,
 824180: 80,
 824193: 81,
 824303: 82,
 824305: 83,
 824311: 84,
 824546: 85,
 824555: 86,
 824642: 87,
 824758: 88,
 824796: 89,
 824915: 90,
 825006: 91,
 825176: 92,
 825249: 93,
 825313: 94,
 825343: 95,
 825365: 96,
 825494: 97,
 825541: 98,
 825618: 99,
 825650: 100,
 825703: 101,
 825731: 102,
 825749: 103,
 825753: 104,
 825882: 105,
 825970: 106,
 825994: 107,
 826067: 108,
 826144: 109,
 826249: 110,
 826272: 111,
 826385: 112,
 826597: 113,
 826658: 114,
 826666: 115,
 826695: 116,
 826784: 117,
 826790: 118,
 826860: 119,
 826952: 120,
 827047: 121,
 827176: 122,
 827180: 123,
 827218: 124,
 827261: 125,
 827271: 126,
 827570: 127,
 827656: 128,
 827667: 129,
 827671: 130,
 827683: 131,
 827802: 132,
 827806: 133,
 827856: 134,
 827919: 135,
 827999: 136,
 828106: 137,
 828139: 138,
 828143: 139,
 828278: 140,
 828328: 141,
 828331: 142,
 828427: 143,
 828525: 144,
 828805: 145,
 828857: 146,
 828867: 147,
 828891: 148,
 828935: 149,
 829001: 150,
 829291: 151,
 829315: 152,
 829323: 153,
 829459: 154,
 829617: 155,
 829621: 156,
 829645: 157,
 829722: 158,
 829727: 159,
 829852: 160,
 829928: 161,
 830015: 162,
 830156: 163,
 830245: 164,
 830304: 165,
 830503: 166,
 830568: 167,
 830582: 168,
 830750: 169,
 830775: 170,
 830795: 171,
 830887: 172,
 830941: 173,
 830960: 174,
 831063: 175,
 831390: 176,
 831509: 177,
 831517: 178,
 831536: 179,
 831557: 180,
 831628: 181,
 831712: 182,
 831763: 183,
 831808: 184,
 831815: 185,
 831888: 186,
 831937: 187,
 832001: 188,
 832288: 189,
 832335: 190,
 832442: 191,
 832678: 192,
 832760: 193,
 832976: 194,
 833025: 195,
 833351: 196,
 833458: 197,
 833465: 198,
 833556: 199,
 833598: 200,
 833709: 201,
 833715: 202,
 833723: 203,
 833724: 204,
 833754: 205,
 833860: 206,
 833935: 207,
 833940: 208,
 834103: 209,
 834117: 210,
 834129: 211,
 834158: 212,
 834236: 213,
 834382: 214,
 834484: 215,
 834491: 216,
 834631: 217,
 834797: 218,
 834808: 219,
 834826: 220,
 834833: 221,
 834842: 222,
 834932: 223,
 835004: 224,
 835098: 225,
 835236: 226,
 835239: 227,
 835243: 228,
 835278: 229,
 835279: 230,
 835285: 231,
 835300: 232,
 835347: 233,
 835530: 234,
 835576: 235,
 835578: 236,
 835595: 237,
 835618: 238,
 835619: 239,
 835694: 240,
 835788: 241,
 835864: 242,
 835922: 243,
 835973: 244,
 836171: 245,
 836281: 246,
 836286: 247,
 836393: 248,
 836445: 249,
 836635: 250,
 836793: 251,
 836891: 252,
 837012: 253,
 837098: 254,
 837107: 255,
 837139: 256,
 837270: 257,
 837304: 258,
 837339: 259,
 837527: 260,
 837579: 261,
 837644: 262,
 837647: 263,
 837677: 264,
 837751: 265,
 837865: 266,
 838010: 267,
 838097: 268,
 838136: 269,
 838186: 270,
 838258: 271,
 838347: 272,
 838369: 273,
 838396: 274,
 838487: 275,
 838563: 276,
 838602: 277,
 838712: 278,
 838733: 279,
 838797: 280,
 838842: 281,
 839040: 282,
 839094: 283,
 839147: 284,
 839162: 285,
 839188: 286,
 839208: 287,
 839238: 288,
 839243: 289,
 839262: 290,
 839346: 291,
 839419: 292,
 839656: 293,
 839747: 294,
 839753: 295,
 839849: 296,
 840011: 297,
 840102: 298,
 840227: 299,
 840361: 300,
 840386: 301,
 840601: 302,
 840609: 303,
 840692: 304,
 840890: 305,
 841016: 306,
 841220: 307,
 841228: 308,
 841266: 309,
 841309: 310,
 841365: 311,
 841762: 312,
 842125: 313,
 842126: 314,
 842140: 315,
 842392: 316,
 842455: 317,
 842707: 318,
 842769: 319,
 842930: 320,
 843111: 321,
 843171: 322,
 843259: 323,
 843304: 324,
 843306: 325,
 843346: 326,
 843450: 327,
 843464: 328,
 843656: 329,
 843689: 330,
 843744: 331,
 843756: 332,
 843842: 333,
 843898: 334,
 843944: 335,
 844023: 336,
 844054: 337,
 844165: 338,
 844166: 339,
 844179: 340,
 844441: 341,
 844450: 342,
 844462: 343,
 844685: 344,
 844697: 345,
 844740: 346,
 844759: 347,
 844818: 348,
 844839: 349,
 844991: 350,
 845078: 351,
 845109: 352,
 845193: 353,
 845196: 354,
 845208: 355,
 845262: 356,
 845265: 357,
 845288: 358,
 845294: 359,
 845307: 360,
 845319: 361,
 845522: 362,
 845537: 363,
 845622: 364,
 845675: 365,
 845705: 366,
 845715: 367,
 845774: 368,
 845814: 369,
 845868: 370,
 846043: 371,
 846081: 372,
 846241: 373,
 846334: 374,
 846417: 375,
 846550: 376,
 846634: 377,
 846764: 378,
 846823: 379,
 846830: 380,
 846833: 381,
 846907: 382,
 846986: 383,
 847025: 384,
 847049: 385,
 847066: 386,
 847127: 387,
 847139: 388,
 847207: 389,
 847241: 390,
 847270: 391,
 847344: 392,
 847573: 393,
 847637: 394,
 847753: 395,
 847789: 396,
 847790: 397,
 847901: 398,
 847982: 399,
 848015: 400,
 848029: 401,
 848071: 402,
 848154: 403,
 848247: 404,
 848268: 405,
 848319: 406,
 848322: 407,
 848355: 408,
 848356: 409,
 848471: 410,
 848561: 411,
 848609: 412,
 848631: 413,
 848669: 414,
 848970: 415,
 848971: 416,
 849003: 417,
 849018: 418,
 849098: 419,
 849100: 420,
 849202: 421,
 849264: 422,
 849288: 423,
 849297: 424,
 849315: 425,
 849505: 426,
 849578: 427,
 849688: 428,
 849701: 429,
 849809: 430,
 849843: 431,
 849870: 432,
 850044: 433,
 850058: 434,
 850102: 435,
 850133: 436,
 850139: 437,
 850157: 438,
 850281: 439,
 850290: 440,
 850529: 441,
 850562: 442,
 850614: 443,
 850645: 444,
 850652: 445,
 850676: 446,
 850679: 447,
 850795: 448,
 850807: 449,
 850841: 450,
 850944: 451,
 850990: 452,
 851057: 453,
 851129: 454,
 851146: 455,
 851188: 456,
 851226: 457,
 851241: 458,
 851287: 459,
 851468: 460,
 851508: 461,
 851515: 462,
 851676: 463,
 851819: 464,
 851865: 465,
 852014: 466,
 852015: 467,
 852035: 468,
 852065: 469,
 852080: 470,
 852182: 471,
 852303: 472,
 852317: 473,
 852360: 474,
 852486: 475,
 852572: 476,
 852600: 477,
 852856: 478,
 852864: 479,
 853095: 480,
 853172: 481,
 853178: 482,
 853235: 483,
 853262: 484,
 853317: 485,
 853354: 486,
 853448: 487,
 853622: 488,
 853643: 489,
 853756: 490,
 853904: 491,
 853998: 492,
 854042: 493,
 854133: 494,
 854261: 495,
 854405: 496,
 854483: 497,
 854496: 498,
 854502: 499,
 854520: 500,
 854607: 501,
 854754: 502,
 854852: 503,
 854900: 504,
 854920: 505,
 854976: 506,
 855138: 507,
 855279: 508,
 855310: 509,
 855325: 510,
 855356: 511,
 855468: 512,
 855488: 513,
 855544: 514,
 855557: 515,
 855672: 516,
 855718: 517,
 856060: 518,
 856128: 519,
 856166: 520,
 856215: 521,
 856252: 522,
 856335: 523,
 856345: 524,
 856435: 525,
 856515: 526,
 856519: 527,
 856772: 528,
 856788: 529,
 856790: 530,
 856827: 531,
 856942: 532,
 857006: 533,
 857055: 534,
 857130: 535,
 857215: 536,
 857276: 537,
 857283: 538,
 857390: 539,
 857503: 540,
 857554: 541,
 857638: 542,
 857697: 543,
 857849: 544,
 858302: 545,
 858373: 546,
 858419: 547,
 858424: 548,
 858439: 549,
 858478: 550,
 858649: 551,
 858711: 552,
 858743: 553,
 858918: 554,
 858999: 555,
 859010: 556,
 859026: 557,
 859075: 558,
 859154: 559,
 859191: 560,
 859237: 561,
 859426: 562,
 859427: 563,
 859592: 564,
 859618: 565,
 860037: 566,
 860167: 567,
 860248: 568,
 860299: 569,
 860439: 570,
 860469: 571,
 860501: 572,
 860528: 573,
 860703: 574,
 860776: 575,
 860890: 576,
 860975: 577,
 861272: 578,
 861279: 579,
 861282: 580,
 861341: 581,
 861345: 582,
 861419: 583,
 861445: 584,
 861485: 585,
 861494: 586,
 861603: 587,
 861615: 588,
 861701: 589,
 861792: 590,
 861819: 591,
 861821: 592,
 862010: 593,
 862070: 594,
 862139: 595,
 862152: 596,
 862276: 597,
 862283: 598,
 862308: 599,
 862335: 600,
 862349: 601,
 862488: 602,
 862535: 603,
 862582: 604,
 862651: 605,
 862682: 606,
 862725: 607,
 862732: 608,
 862799: 609,
 862822: 610,
 862826: 611,
 862854: 612,
 862981: 613,
 863030: 614,
 863332: 615,
 863337: 616,
 863447: 617,
 863449: 618,
 863479: 619,
 863506: 620,
 863529: 621,
 863632: 622,
 863664: 623,
 863762: 624,
 863802: 625,
 863885: 626,
 864033: 627,
 864048: 628,
 864143: 629,
 864279: 630,
 864312: 631,
 864335: 632,
 864532: 633,
 864615: 634,
 864774: 635,
 864805: 636,
 864893: 637,
 864964: 638,
 865026: 639,
 865156: 640,
 865174: 641,
 865178: 642,
 865196: 643,
 865216: 644,
 865303: 645,
 865330: 646,
 865456: 647,
 865501: 648,
 865511: 649,
 865528: 650,
 865569: 651,
 865705: 652,
 865885: 653,
 865891: 654,
 865992: 655,
 866043: 656,
 866140: 657,
 866149: 658,
 866172: 659,
 866177: 660,
 866211: 661,
 866227: 662,
 866292: 663,
 866355: 664,
 866528: 665,
 866540: 666,
 866548: 667,
 866573: 668,
 866755: 669,
 866778: 670,
 866871: 671,
 866878: 672,
 866950: 673,
 867020: 674,
 867138: 675,
 867140: 676,
 867188: 677,
 867272: 678,
 867469: 679,
 867519: 680,
 867547: 681,
 867607: 682,
 867622: 683,
 867648: 684,
 867667: 685,
 867668: 686,
 867931: 687,
 868015: 688,
 868075: 689,
 868147: 690,
 868275: 691,
 868319: 692,
 868401: 693,
 868415: 694,
 868423: 695,
 868539: 696,
 868546: 697,
 868548: 698,
 868645: 699,
 868683: 700,
 868727: 701,
 868745: 702,
 868764: 703,
 868888: 704,
 868909: 705,
 868953: 706,
 868971: 707,
 869024: 708,
 869047: 709,
 869150: 710,
 869177: 711,
 869195: 712,
 869344: 713,
 869573: 714,
 869577: 715,
 869604: 716,
 869622: 717,
 869728: 718,
 869857: 719,
 869868: 720,
 869900: 721,
 870018: 722,
 870128: 723,
 870195: 724,
 870211: 725,
 870315: 726,
 870327: 727,
 870420: 728,
 870428: 729,
 870515: 730,
 870547: 731,
 870559: 732,
 870608: 733,
 870780: 734,
 870894: 735,
 870927: 736,
 870929: 737,
 870933: 738,
 870980: 739,
 871061: 740,
 871097: 741,
 871162: 742,
 871188: 743,
 871252: 744,
 871279: 745,
 871337: 746,
 871433: 747,
 871440: 748,
 871570: 749,
 871611: 750,
 871636: 751,
 871680: 752,
 871722: 753,
 871754: 754,
 871756: 755,
 871876: 756,
 871909: 757,
 872021: 758,
 872137: 759,
 872177: 760,
 872342: 761,
 872382: 762,
 872417: 763,
 872642: 764,
 872702: 765,
 872729: 766,
 872762: 767,
 872827: 768,
 873044: 769,
 873056: 770,
 873178: 771,
 873203: 772,
 873474: 773,
 873527: 774,
 873550: 775,
 873622: 776,
 873627: 777,
 873654: 778,
 873782: 779,
 873874: 780,
 873887: 781,
 873902: 782,
 873916: 783,
 873964: 784,
 874058: 785,
 874061: 786,
 874149: 787,
 874255: 788,
 874617: 789,
 874643: 790,
 874733: 791,
 874736: 792,
 874972: 793,
 875392: 794,
 875694: 795,
 875979: 796,
 876232: 797,
 876504: 798,
 876521: 799,
 876548: 800,
 876593: 801,
 876695: 802,
 876806: 803,
 876932: 804,
 877175: 805,
 877193: 806,
 877226: 807,
 877310: 808,
 877337: 809,
 877358: 810,
 877447: 811,
 877455: 812,
 877498: 813,
 877935: 814,
 878026: 815,
 878222: 816,
 878234: 817,
 878285: 818,
 878290: 819,
 878302: 820,
 878398: 821,
 878442: 822,
 878445: 823,
 878611: 824,
 878637: 825,
 878710: 826,
 878715: 827,
 878739: 828,
 878775: 829,
 878857: 830,
 878880: 831,
 878996: 832,
 879045: 833,
 879143: 834,
 879152: 835,
 879393: 836,
 879445: 837,
 879504: 838,
 879506: 839,
 879528: 840,
 879635: 841,
 879689: 842,
 879734: 843,
 879735: 844,
 879755: 845,
 879808: 846,
 879876: 847,
 879922: 848,
 879948: 849,
 880000: 850,
 880150: 851,
 880253: 852,
 880308: 853,
 880310: 854,
 880377: 855,
 880423: 856,
 880427: 857,
 880469: 858,
 880579: 859,
 880888: 860,
 880895: 861,
 881047: 862,
 881154: 863,
 881249: 864,
 881328: 865,
 881608: 866,
 881706: 867,
 881708: 868,
 881883: 869,
 881917: 870,
 882109: 871,
 882138: 872,
 882190: 873,
 882247: 874,
 882288: 875,
 882305: 876,
 882441: 877,
 882489: 878,
 882496: 879,
 882595: 880,
 882604: 881,
 882826: 882,
 882830: 883,
 882941: 884,
 883003: 885,
 883004: 886,
 883068: 887,
 883186: 888,
 883202: 889,
 883218: 890,
 883306: 891,
 883370: 892,
 883404: 893,
 883418: 894,
 883428: 895,
 883616: 896,
 883783: 897,
 883817: 898,
 883912: 899,
 883916: 900,
 883932: 901,
 883940: 902,
 883963: 903,
 884333: 904,
 884518: 905,
 884686: 906,
 884774: 907,
 884896: 908,
 884897: 909,
 884945: 910,
 885023: 911,
 885290: 912,
 885307: 913,
 885356: 914,
 885406: 915,
 885430: 916,
 885463: 917,
 885582: 918,
 885586: 919,
 885697: 920,
 885750: 921,
 885795: 922,
 885858: 923,
 885863: 924,
 885917: 925,
 886125: 926,
 886395: 927,
 886481: 928,
 886487: 929,
 886703: 930,
 886787: 931,
 886803: 932,
 886941: 933,
 886959: 934,
 886996: 935,
 887003: 936,
 887102: 937,
 887138: 938,
 887219: 939,
 887225: 940,
 887325: 941,
 887342: 942,
 887393: 943,
 887474: 944,
 887503: 945,
 887618: 946,
 887661: 947,
 887691: 948,
 887962: 949,
 887984: 950,
 888014: 951,
 888054: 952,
 888092: 953,
 888111: 954,
 888117: 955,
 888178: 956,
 888275: 957,
 888404: 958,
 888431: 959,
 888476: 960,
 888532: 961,
 888543: 962,
 888586: 963,
 888612: 964,
 888614: 965,
 888650: 966,
 888835: 967,
 889188: 968,
 889319: 969,
 889509: 970,
 889511: 971,
 889551: 972,
 889618: 973,
 889649: 974,
 889692: 975,
 889731: 976,
 889774: 977,
 889779: 978,
 889912: 979,
 889965: 980,
 889989: 981,
 890186: 982,
 890283: 983,
 890296: 984,
 890344: 985,
 890455: 986,
 890513: 987,
 890536: 988,
 890610: 989,
 890612: 990,
 890689: 991,
 890695: 992,
 890739: 993,
 890862: 994,
 890882: 995,
 890909: 996,
 890999: 997,
 891028: 998,
 891141: 999,
 ...}

In [30]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) 
model.fit(csr_matrix(user_item_matrix).T.tocsr(),  
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  
                        user_items=csr_matrix(user_item_matrix).tocsr(),   
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.42 s, sys: 33.8 ms, total: 1.45 s
Wall time: 1.47 s

Рассчитываем для каждого пользователя его рекомендации и добавляем к итоговой таблице сравнений метрик.

In [31]:
%%time

result['itemitem'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

CPU times: user 54.7 ms, sys: 2.58 ms, total: 57.3 ms
Wall time: 57.3 ms

In [32]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1117944, 8159536, 1052481, 864586, 14043825]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1010718, 861459, 13133985, 1132248, 869755]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2794351, 1100951, 909955, 6424142, 9655004]","[6551741, 1322954, 9396885, 1957362, 922466]","[1103826, 13008328, 5584027, 15926844, 896666]","[923746, 1082185, 1029743, 1081177, 910032]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]"

### Косинусное сходство и CosineRecommender

In [33]:
%%time

model = CosineRecommender(K=5, num_threads=4) 

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.42 s, sys: 24.8 ms, total: 1.45 s
Wall time: 1.45 s

In [34]:
%%time

result['cosine'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

CPU times: user 63.9 ms, sys: 1.57 ms, total: 65.5 ms
Wall time: 64.8 ms

In [35]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1117944, 8159536, 1052481, 864586, 14043825]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1010718, 861459, 13133985, 1132248, 869755]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2794351, 1100951, 909955, 6424142, 9655004]","[6551741, 1322954, 9396885, 1957362, 922466]","[1103826, 13008328, 5584027, 15926844, 896666]","[923746, 1082185, 1029743, 1081177, 910032]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]"

### TF-IDF взвешивание и TFIDFRecommender

In [36]:
%%time

model = TFIDFRecommender(K=5, num_threads=4) 

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.48 s, sys: 20.8 ms, total: 1.5 s
Wall time: 1.52 s

In [37]:
%%time

result['tfidf'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=False)])

CPU times: user 65.5 ms, sys: 1.77 ms, total: 67.3 ms
Wall time: 66.5 ms

In [38]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1117944, 8159536, 1052481, 864586, 14043825]","[1894237, 12188393, 1041381, 57314, 1009625]","[1065089, 5995423, 920227, 1136257, 1089323]","[1082185, 995785, 860776, 953104, 904360]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1010718, 861459, 13133985, 1132248, 869755]","[1009851, 1116425, 1052087, 833890, 13910210]","[959179, 848270, 1058322, 5995199, 9885520]","[1106523, 6534178, 994928, 1044078, 1070820]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2794351, 1100951, 909955, 6424142, 9655004]","[6551741, 1322954, 9396885, 1957362, 922466]","[1103826, 13008328, 5584027, 15926844, 896666]","[923746, 1082185, 1029743, 1081177, 910032]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]"

### Оценки моделей по precision@5

In [ ]:
for column in result.columns[2:]:
    print(column, round(result.apply(lambda x: precision_at_k(x[column], x['actual'],  5), axis=1).mean(), 5))